<h5><a href="https://thegamehers.com/" target="_blank" style="padding: 0px">The gameHERS </a> - Rising Star Award (2022)</h5>
<h6>Finalist</h6>
<p>Dec 2022</p>
<p>I've been nominated for the GameHERS Rising Star award. I got to the Finalist position.</p>

<hr style="color:white">
<h5><a href="https://www.sheplaysgames.co/spg-100" target="_blank" style="padding: 0px">She Plays Games 100</a></h5>
<h6>Nominee</h6>
<p>Jan 2022 / Sumo Digital</p>
<p>I've been nominated by Sumo Digital for the She Plays Games 100 awards.</p>

<hr style="color:white">
<h5><a href="https://www.womeningamesawards.com/" target="_blank" style="padding: 0px">Women In Games </a> - Rising Star Award</h5>
<h6>Nominee</h6>
<p>Jan 2022 / Sumo Digital</p>
<p>I've been nominated by Sumo Digital for the Woman In Games' Rising Star Award.</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-col" data-toggle="modal" data-target="#exampleModalLong" style="width: fit-content !important">
    Nomination Letter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #202022 !important">
            <div class="modal-header" style="border-bottom-color: #2e2e2e !important">
                <h5 class="modal-title" id="exampleModalLongTitle">Nomination Letter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {%- include nomination_letter.html -%}
            </div>
        </div>
    </div>
</div>

<hr style="color:white">
<h5><a href="https://thegamehers.com/" target="_blank" style="padding: 0px">The gameHERS </a> - Rising Star Award (2021)</h5>
<h6>Finalist</h6>
<p>Dec 2021</p>
<p>I've been nominated for the gameHERS Rising Star award. I got to the Finalist position.</p>
