<li>
    <a href="{{ site.baseurl }}/blog/categories/game-development" style="background-color: seagreen !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Game Dev Blogs</a>
</li>
<br /><br /><br /><br />
<li>
    <a href="{{ site.baseurl }}/blog/categories/personal" style="background-color: firebrick !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Personal Blogs</a>
</li>
<br /><br /><br /><br />
<li>
    <a href="{{ site.baseurl }}/blog/categories/study" style="background-color: darkslateblue !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Study Blogs</a>
</li>
<br /><br /><br /><br />
<li>
    <a href="{{ site.baseurl }}/blog/categories/misc" style="background-color: #003261 !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Misc Blogs</a>
</li>
<br /><br /><br /><br />
<li>
    <a href="{{ site.baseurl }}/blog/categories/game-dev-london" style="background-color: #87205d !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Podcasts</a>
</li>
