---
layout: default
---
<p>All the games with the gamepad icon on can be played on the website.</p>
<div class="row" id="lib-posts-container" style="margin-left: 200px; margin-right:200px">
    <div class="row">
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 0px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/tsh.png" id="lib-pic" alt="Team Swap Heroes" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Team Swap Heroes</h4>
                    <h6 class="card-subtitle mb-2 text-muted">24th February, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: crimson">Teamwork</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: forestgreen">Single Player</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 0px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/airportgame.png" id="lib-pic" alt="Airport Lost and Found" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Airport - Lost & Found</h4>
                    <h6 class="card-subtitle mb-2 text-muted">31st January, 2021</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkgoldenrod">Crazy Taxi</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: forestgreen">Single Player</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 0px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/blocky.png" id="lib-pic" alt="Blocky Road" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Blocky Road</h4>
                    <h6 class="card-subtitle mb-2 text-muted">28th October, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: dodgerblue">Hyper Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: forestgreen">Single Player</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
    </div>
</div>

