---
layout: default
---
<div class="libcard lib-top" style="border-radius: 0px 0px 100px 100px; padding: 20px; width: 100%; position:fixed; z-index: 1000">
    <h2 style="text-align: center">These are all the games I have worked on...</h2> 
    <p style="text-align: center">The games with the <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad24.png" alt="Play on browser" style=" border-radius: 5px; padding: 2px"> icon on them can be played on this website! </p>
</div>

<div class="row" id="lib-posts-container" style="margin-left: 100px; margin-right:100px; place-content: center; padding-top: 150px">
    <div class="row">
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/tsh.png" id="lib-pic" alt="Team Swap Heroes" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Team Swap Heroes</h4>
                    <h6 class="card-subtitle mb-2 text-muted">24th February, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: crimson">Teamwork</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/airportgame.png" id="lib-pic" alt="Airport Lost and Found" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Airport - Lost & Found</h4>
                    <h6 class="card-subtitle mb-2 text-muted">31st January, 2021</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkgoldenrod">Crazy Taxi</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: royalblue">Ragdoll</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/blocky.png" id="lib-pic" alt="Blocky Road" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Blocky Road</h4>
                    <h6 class="card-subtitle mb-2 text-muted">28th October, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: dodgerblue">Hyper Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: crimson">Teamwork</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/pop.png" id="lib-pic" alt="Poppin Hoppin Unlockin" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Poppin' Hoppin' Unlockin'</h4>
                    <h6 class="card-subtitle mb-2 text-muted">12th November, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: forestgreen">Platformer</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: rebeccapurple">Fantasy</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/beatcity.png" id="lib-pic" alt="Beat City" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">-->
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Beat City</h4>
                    <h6 class="card-subtitle mb-2 text-muted">20th Feburary, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: purple">Music Rhythm Game</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: orangered">Cyberpunk</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/ordos.png" id="lib-pic" alt="Ordos" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">-->
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Ordos - Order & Chaos</h4>
                    <h6 class="card-subtitle mb-2 text-muted">12th May, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkred">Action</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: firebrick">Combat Flight Simulator</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: rebeccapurple">Fantasy</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/westernrunner.png" id="lib-pic" alt="western runner" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">-->
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Western Runner</h4>
                    <h6 class="card-subtitle mb-2 text-muted">November, 2019</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: lightseagreen">Endless Runner</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumseagreen">Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkgoldenrod">Western</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/capsays.png" id="lib-pic" alt="Captain Says" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Captain Says</h4>
                    <h6 class="card-subtitle mb-2 text-muted">31st August, 2019</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: cadetblue">Educational Game</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumseagreen">Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: hotpink">Arcade</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/onlyonerecruit.png" id="lib-pic" alt="Only One Recruit" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Only One Recruit</h4>
                    <h6 class="card-subtitle mb-2 text-muted">4th August, 2019</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: crimson">Teamwork</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/boxysee.png" id="lib-pic" alt="Boxy See, Boxy Do" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Boxy See, Boxy Do</h4>
                    <h6 class="card-subtitle mb-2 text-muted">12th July, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: crimson">Teamwork</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkred">Action</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/aquaadventure.png" id="lib-pic" alt="Aqua Adventure" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Aqua Adventure</h4>
                    <h6 class="card-subtitle mb-2 text-muted">3rd December, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: seagreen">Shoot 'em up</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: olivedrab">Retro</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkred">Action</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/somewhereinberkshire.png" id="lib-pic" alt="Somewhere In Berkshire" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Somewhere In Berkshire</h4>
                    <h6 class="card-subtitle mb-2 text-muted">19th June, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: cornflowerblue">Adventure</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumseagreen">Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/drivenroundtheloop.png" id="lib-pic" alt="Driven Round The Loop" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Driven Round The Loop</h4>
                    <h6 class="card-subtitle mb-2 text-muted">5th October, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumseagreen">Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/thedragonsitter.png" id="lib-pic" alt="The Dragonsitter" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">The Dragonsitter</h4>
                    <h6 class="card-subtitle mb-2 text-muted">21st April, 2020</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: hotpink">Digital Pet</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumseagreen">Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: rebeccapurple">Fantasy</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/villagesim.png" id="lib-pic" alt="Village Simulator" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Village Simulator</h4>
                    <h6 class="card-subtitle mb-2 text-muted">7th October, 2019</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: orangered">Simulator</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumseagreen">Casual</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 450px">
            <a href="" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img/gamelib/yelapa.png" id="lib-pic" alt="Welcome To Yelapa" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">Welcome To Yelapa</h4>
                    <h6 class="card-subtitle mb-2 text-muted">7th October, 2019</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: mediumpurple">Puzzles</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: cornflowerblue">Adventure</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslateblue">Play On Browser</small>
                </div>
            </a>
        </div>
    </div>
</div>

