---
layout: default
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
<div class="jumbotron" style="text-align: center;">

    <!---------------------------------------->
    <!--MASTHEAD VIDEO ON BACKGROUND-->
    <!---------------------------------------->
    <video id="video-background" autoplay muted playsinline loop>
        <source src="{{site.url}}{{site.baseurl}}/assets/img/showreel.mp4" type="video/mp4">
        <source src="{{site.url}}{{site.baseurl}}/assets/img/showreel.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <script>document.getElementById('myvideo').play();</script>

    <!---------------------------------------->
    <!--TEXT AND PROFILE PICTURE-->
    <!---------------------------------------->
    <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/profile.png" />
    <p class="jumbotron-heading">Hi, I am {{site.author}}</p>
    <!--<p class="lead" id="typewriteText"></p>-->
    <p class="lead">I'm a Gameplay Programmer!</p>

    <!---------------------------------------->
    <!--SOCIAL MEDIA LINKS-->
    <!---------------------------------------->
    <p class="profile-links">
        {% if site.twitter_username %}
        <a class="social-link"
           href="http://twitter.com/{{ site.twitter_username }}">
            <i class="fab fa-twitter"></i>
        </a>
        {% endif %} {% if site.instagram_username %}
        <a class="social-link"
           href="http://instagram.com/{{ site.instagram_username }}">
            <i class="fab fa-instagram"></i>
        </a>
        {% endif %} {% if site.github_username %}
        <a class="social-link"
           href="http://github.com/{{ site.github_username }}">
            <i class="fab fa-github"></i>
        </a>
        {% endif %} {% if site.linkedin_username %}
        <a class="social-link"
           href="http://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %}
    </p>
</div>
    <div class="col-lg-8 offset-md-2">
      <section id="recent-articles">
        <div id="recent-articles-header">
          <div id="recent-articles-title">
            <h1 class="card-title">Recent Articles</h1>
          </div>
          <div id="recent-articles-show-all">
            <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
          </div>
        </div>
        <br />

        <ul>
          {% for post in site.posts limit:5 %}
          <li class="article-card">
            <a href="{{post.url}}" class="article-card-link">
              <div id="article-container">
                <div id="article-img">
                  {% if post.author %}
                    {% assign author = post.author %}
                    {% if author %}
                     {% assign author_data = site.data.authors[author] %}
                     <img
                      src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author_data.avatar}}"
                      width="50px"
                      height="50px"
                   />
                    {% endif %}
                  {% endif %}

                </div>
                <div id="article-link">
                    <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
                  </div>
                  <div id="article-alert">
                  {% for cat in post.category limit:1 %}
                   <button class="btn btn-sm btn-dark">{{cat}}</button>
                  {% endfor %}
                  </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>


    <!---------------------------------------->
    <!--WebGL Games On Web Page-->
    <!---------------------------------------->
    <!--<iframe src="{{site.url}}{{site.baseurl}}/assets/WebGL/PortsmouthGJ2020/index.html" style="border:0px #000000 none;" name="Game name" scrolling="no" frameborder="1" marginheight="px" marginwidth="320px" height="320px" width="480px"></iframe>-->